* {
    font-family: roboto, sans-serif; 
}

header {
    background-color: #1F2937;
    min-height: 300px;
}

.container-one {
    display: flex;
}

.links-container {
    display: flex;
    margin-left: auto;
    gap: 25px; 
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.container-two {
    display: flex;
    flex-direction: column;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}