* {
    font-family: roboto, sans-serif; 
}

header {
    background-color: #1F2937;
    min-height: 400px;
}

.container-one {
    display: flex;
    padding-top: 15px;
    margin-left: 100px;
    margin-right: 75px;
}

.links-container {
    display: flex;
    margin-left: auto;
    gap: 25px; 
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.container-two {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 450px;
    gap: 5px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

.image-container {
    display: flex;
    min-height: 100px;
    min-width: 150px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 500px;
}

.container-three {
    display: flex;
    margin-left: 100px;
    margin-top: 75px;
    margin-right: 75px;
    margin-bottom: 75px; 
    gap: 50px; 
}